#RegisterCard{
    border-radius: 0.25rem;
    background: #fff;
    padding: 20px;
    width: 25%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    border: 1px solid rgba(0,0,0,.125);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#RegisterCard h1{
    color: #D61A46;
}

#RegisterCard h3{
    color: #340913;
}

#RegisterCard form{
    width: 85%;
    margin: auto;
    margin-top: 1em;
    padding: 5px;
}

#RegisterCard input{
    margin: 2px;
}

#RegisterCard button{
    width: 40%;
    margin: 1em;
    background-color: #D61A46;
    color: #FBDFE6;
}

#RegisterCard #errormessage{
    color: #D61A46;
    font-size: small;
    text-align: left;
    padding-left: 0.5rem;
}

@media screen and (max-width: 1300px) {
    #RegisterCard {
      width: 50%;
    }
  }

  @media screen and (max-width: 700px) {
    #RegisterCard {
      width: 70%;
    }
  }