#Page-area{
  padding:2%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

#Promos {
  border-radius: 15px;
  background: #D61A46;
  display: flexbox;
  float: left; 
  width: 63%;
  padding:2%;   
}

#Promos-title{
  width: 86%;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3%;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

#Promos-title text{
  font-size: 64px;
}

#Promos-image{
  width: 86%;
  background: #919191;
  border-radius: 15px;
  display: flexbox;
  margin-left: 6%;
  margin-right: 6%;
}

#Promos-image img{
  width: 100%;
}

#Promos-text{
  width: 86%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3%;
  margin-top: 5%;
}

#Promos-text h1{
  color: white;
  border-bottom: white 1px solid;
}

#Promos-text h3{
  color:lightgray;
}

#Details {
  padding: 2%;
  border-radius: 15px;
  background: #D61A46;
  display: flexbox; 
  float: right;
  width: 35%;      
}

#Details-text{
  width: 86%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3%;
}

#Details-text h1{
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  color: white;
}

#Details-text h4{
  color:lightgray;
}