

   {%block title%}  Logowanie  {% endblock %}


{% block content %}
    {% if form.errors%}
        <p>Dane są nieprawidłowe</p>
    {% else %}
        <p> Wypełnij poniższy formularz </p>
    {% endif %}
<div class = "login-form">

    <form action = "{% url 'login' %}" method = "post">
        {{form.as_p}}
        {%csrf_token%}
        <input type =hidden name = "next" value  = "{{ next }}"> 
        <p><input type =submit value  = "Zaloguj"> </p>
    </form>

</div>

{% endblock %}
 
   
