#main{
    background-color: #D51A46;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#title{
    margin-left: 0.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 58px;
}

#title span:nth-child(1){
    color: #EC6988;
}

#title span:nth-child(2){
    color: #340913;
}

#main button{
    background: #EC6988;
    border-radius: 18px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 0.3em;
}

#singup{
    border: #fff 1px solid;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}